<% content_for(:html_title) { "#{@article.title} - Edit" } %>
<main class="container w-50">
<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Show', @article %> |
<%= link_to 'Delete', @article, method: :delete %> |
<%= link_to 'Back', user_home_path %>
</main>
