<p>this is the home page if user is logged in - there will be news, a daily featured animals and buttons to 
   go to account and see all listings</p>

<%= link_to "Check in on your animals", user_account_path %>
<%= link_to "View all the animals", animals_path %>

<h3>Featured Animal:</h3>
<%= render partial: "animals/card", locals: {animal: @featured_animal}%>