<p>This is the landing page it will have a hero img/text and 2 buttons for sign up</p>>
<%= link_to "Sponsor", new_user_registration_path(:role => 0) %>
<%= link_to "Sanctuary", new_user_registration_path(:role => 1) %>